@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@font-face {
  font-family: "PFDinTextCondPro";
  src: url("../fonts/PFDinTextCondPro-Regular.eot");
  src: url("../fonts/PFDinTextCondPro-Regular.eot?#iefix") format("embedded-opentype"), url("PFDinTextCondPro-Regular.woff2") format("woff2"), url("PFDinTextCondPro-Regular.woff") format("woff"), url("PFDinTextCondPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../fonts/PFDinTextCompPro-Medium.eot");
  src: url("../fonts/PFDinTextCompPro-Medium.eot?#iefix") format("embedded-opentype"), url("PFDinTextCompPro-Medium.woff2") format("woff2"), url("PFDinTextCompPro-Medium.woff") format("woff"), url("PFDinTextCompPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.original {
  margin: 0px 0px 30px 0px;
  font-size: 30px;
  line-height: 35px;
}
.original p {
  margin: 0px 0px 30px 0px;
}

.text {
  font-family: "PT Sans";
  font-size: 30px;
  line-height: 35px;
  margin: 0px 0px 30px 0px;
}
.text p {
  margin: 0px 0px 30px 0px;
}

.text-PFDin {
  font-family: "PFDinTextCondPro";
  font-size: 30px;
  line-height: 35px;
  margin: 0px 0px 30px 0px;
}
.text-PFDin p {
  margin: 0px 0px 30px 0px;
}

.text-PFDinMedium {
  font-family: "PFDinTextCondPro";
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  margin: 0px 0px 30px 0px;
}
.text-PFDinMedium p {
  margin: 0px 0px 30px 0px;
}