// файл обнуляющих стилей
@import "nullstyle.scss";
// 1. Вложенность - способность писать правила css внутри других правил
// 2. Переменные - удобство и скорость заранее записанных значений для правил
// 3. Импорт - удобство в импортировании заранее записанных стилей в рабочую кодовую сферу
// 4. Шаблоны - с помощью @extend копируем загатовленные шаблоны. Можно также записывать шаблоны как названия классов, даже если их нет в html-разметке
// 5. Миксины - работают как шаблоны, только еще круче. С помощью @include мы копируем название миксина и внутри скобок пишем значение правила. После записи значение правила миксина будет меняться, в зависимости от его значения в скобках. 
// 6. Комментирование - два слэша и комментыв в scss не будут переписываться в css

// block 
//     fz14
//     lh20... 
// это уже просто sass, где код пишется без фигурных скобок и точек с запятой.
// оператор & - and, и 



    // justify-content - отвечает за вырванивание вдоль основной оси (горизонталь)
    // space-between: пространство между флекс-элементами, оно одинаковое, первые и последние элементы прижаты к краям flex-контейнера.
    // space-around - пространство добавляется слева и справа flex-элемента. 
    // что space-between, что space-around не добавляют к элементам отступы, они дают им пространство и то только в том случае, если это позволяют размеры flex-контейнера.


    // align-items - отвечает за вырванивание вдоль поперечной оси (вертикаль)
    // stretch - растягивает границы под размер контента
    // flex-start - flex-элементы прижмутся вверх
    // flex-end - flex-элементы прижмутся вниз
    // center - выравнивание по центру
    // baseline -  выравнивание по базовой линии все flex-элементы


    // flex-wrap - отвечает за перескакивание flex-элементов, когда им не хватает места
    // nowrap - знаечние по умолчанию 
    // wrap - перескок на следующую строку, так сказать адаптируются
    // wrap-reverse - оно заставляет перескакивать flex-элементы задом наперед
    // 


    // flex-direction - устанавливает основную ось, по которой выстраиваются flex-элементы.
    // Значение по умолчанию row.
    // row-reverse - разворачивает поведение flex-элементов. Стартуют с конца и разворачиваются.
    // column - заставляет элементы выстраиваться в колонку. ВАЖНО! при смене flex-direction с row на column меняется значение ролей у align-items и justify-content. Тут будет: align-items: горизонталь, а justify-content: вертикаль.
    // column-reverse - старт с низа.



// align-self переопределяет выравнивание для определенного элемента. Коротко: то же, что и align-items, только для одного элемента


// order - порядок вывода
// }// .block__column_2{order: 2;} даже если элемент не меняет порядок вывода, мы все равно должны записать его параметр

// flex-basis управляет базовым размером flex-элемента. Оно не является аналогом свойства width, а базовым значением размера
// auto - значение по умолчанию

// flex-grow - контролирует возможность увеличиваться в размере относительно его базового размера. По умолчанию 0.

// flex-shrink - то же, что и flex-grow, только уменьшаться относительно базового размера. По умолчанию 1.

// flex-basis, flex-grow, flex-shrink - все это можно сократить в свойство flex.

// flex: flex-grow flex-shrink flex-basis - в таком порядке идут эти свойства и записывать их значения надо также.

.button {
    text-decoration: none;
    display: inline-block;
    line-height: 60px;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    border-radius: 10px;
    top: 0;
    position: relative;
}
.button_1 {
    color: #fff;
    background-color: #5e5373;
    box-shadow: 0 5px 0px #3c354a;
    transition-duration: 1s // промежуток времени, за которое происходит переход
    // главное - назначать transition основному классу, так как если указать к примеру на hover - transition будет применяться некорректно (эффекта перехода назад не будет)
    transition-property: all; // содержит название css свойств, к которому будет применен эффект перехода
    // можно задавать несколько значений в duration для нескольких значений property
    // нельзя использовать с display
    transition-delay: 0s; // задает задержку эффекта перехода (эффект не сразу применяется)
    transition-timing-function: ease; // задает стиль перехода, некий сценарий
    // ease - медлено-быстро-медлено
    // ease-in - медлено-быстро
    // ease-out - быстро-медлено
    // ease-in-out - медлено-медлено
    // linear - равномерно
    // steps(int,start/end) - разбивает время перехода на части. start - сразу начинается анимация. end - начинается в конце
    // cubic-bezier - создаем свой сценарий анимации
    transition: all 1s ease 0; // все в одном.
}
.button_1:hover {
    top: 2px;
    box-shadow: 0 3px 0px #3c354a;
    background-color: #18b5a4;
}