// файл обнуляющих стилей
@import "nullstyle.scss";
// 1. Вложенность - способность писать правила css внутри других правил
// 2. Переменные - удобство и скорость заранее записанных значений для правил
// 3. Импорт - удобство в импортировании заранее записанных стилей в рабочую кодовую сферу
// 4. Шаблоны - с помощью @extend копируем загатовленные шаблоны. Можно также записывать шаблоны как названия классов, даже если их нет в html-разметке
// 5. Миксины - работают как шаблоны, только еще круче. С помощью @include мы копируем название миксина и внутри скобок пишем значение правила. После записи значение правила миксина будет меняться, в зависимости от его значения в скобках. 
// 6. Комментирование - два слэша и комментыв в scss не будут переписываться в css

// block 
//     fz14
//     lh20... 
// это уже просто sass, где код пишется без фигурных скобок и точек с запятой.
// оператор & - and, и 
.practice {
    &__body {
    }
    &__header {
    }
    &__title {
        margin: 0 0 30px 0;
    }
    &__text {
         
    }
    &__row {
    }
    &_column {
    }
}
.title {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;
    padding: 0 0 30px 0;
    &:after {
        content: '';
        position: absolute;
        width: 50px;
        bottom: 0;
        height: 1px;
        left: 50%;
        background-color: #000;
        margin: 0 0 0 -25px;
    }
}
.item-practice {
    &__icon {
        border-radius: 50%;
        width: 92px;
        height: 92px;
        border: 2px solid #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 40px 0px;
    }
    &__title {
        text-align: center;
        color: #000;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 3.52px;
        margin: 0px 0px 35px 0px;
    }
    &__text {
        text-align: center;
    }
}
